<div id="top_info_bar">
    <div class="container">
        <ul>
            <li id="todays_date">Sunday, October 31, 2021</li>
            <li id="login_option"><span id="login_btn">Sign in</span> / <span id="join_btn">Join</span></li>
            <li id="nav_user">
                <span id="logged_username"></span>
            </li>
            <li class="res-hide">Disclaimer</li>
            <li class="res-hide">Privacy</li>
            <li class="res-hide">Advertisement</li>
            <li class="res-hide">Contact us</li>
        </ul>
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                    viewBox="0 0 24 24" style="fill:#ffffff;">
                    <path
                        d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z">
                    </path>
                </svg>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                    viewBox="0 0 24 24" style=" fill:#ffffff;">
                    <path
                        d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z">
                    </path>
                </svg>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                    viewBox="0 0 30 30" style=" fill:#ffffff;">
                    <path
                        d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z">
                    </path>
                </svg>
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                    viewBox="0 0 48 48" style=" fill:#ffffff;">
                    <path
                        d="M 23.857422 8.5 C 17.504717 8.5 11.602344 8.9526234 8.234375 9.65625 A 1.50015 1.50015 0 0 0 8.2128906 9.6621094 C 5.6754768 10.230693 3.2861897 12.048234 2.7832031 14.894531 A 1.50015 1.50015 0 0 0 2.78125 14.90625 C 2.394836 17.200265 2 20.190694 2 24.5 C 2 28.801151 2.3961903 31.712324 2.8847656 34.126953 C 3.4000756 36.889296 5.7342165 38.761817 8.3105469 39.337891 A 1.50015 1.50015 0 0 0 8.3476562 39.347656 C 11.86271 40.040284 17.598467 40.5 23.951172 40.5 C 30.303877 40.5 36.042686 40.04028 39.558594 39.347656 A 1.50015 1.50015 0 0 0 39.595703 39.337891 C 42.133117 38.769306 44.522404 36.951766 45.025391 34.105469 A 1.50015 1.50015 0 0 0 45.029297 34.083984 C 45.409789 31.743169 45.902812 28.755621 46 24.439453 A 1.50015 1.50015 0 0 0 46 24.40625 C 46 20.087697 45.50571 17.078675 45.023438 14.695312 C 44.512192 11.927074 42.175378 10.049478 39.595703 9.4726562 A 1.50015 1.50015 0 0 0 39.476562 9.4511719 C 36.0464 8.9689502 30.211115 8.5 23.857422 8.5 z M 20.15625 17.001953 C 20.526656 16.994297 20.909531 17.081906 21.269531 17.285156 L 29.873047 22.146484 C 31.324047 22.966484 31.324047 25.035469 29.873047 25.855469 L 21.269531 30.716797 C 19.830531 31.528797 18.037109 30.500328 18.037109 28.861328 L 18.037109 19.138672 C 18.037109 17.909422 19.045031 17.024922 20.15625 17.001953 z">
                    </path>
                </svg>
            </li>
        </ul>
    </div>
</div>
<nav id="nav_blog">
    <div class="container flex">
        <div>
            <a href="index.html">
                <img  src="./images/logo.png" alt="Mpl Logo" width="172px">
            </a>
        </div>
        <div id="nav_options">
            <ul>
                <li>TODAY'S MATCH PREDICTION</li>
                <li>NEWS
                    <svg x="0" y="0" width="12px" height="12px" viewBox="0 0 24 24" style="fill: transparent;">
                        <path d="M 6 8 L 14 16 L 22 8" stroke="black" stroke-width="3px"></path>
                    </svg>
                    <div>
                        <div>
                            MPL Announcement
                        </div>
                    </div>
                </li>
                <li>GAMES
                    <svg x="0" y="0" width="12px" height="12px" viewBox="0 0 24 24" style="fill: transparent;">
                        <path d="M 6 8 L 14 16 L 22 8" stroke="black" stroke-width="3px"></path>
                    </svg>
                </li>
                <li>FANTASY
                    <svg x="0" y="0" width="12px" height="12px" viewBox="0 0 24 24" style="fill: transparent;">
                        <path d="M 6 8 L 14 16 L 22 8" stroke="black" stroke-width="3px"></path>
                    </svg>
                    <div>
                        <div class="sub-sub-menu">
                            Cricket
                            <svg x="0" y="0" width="10px" height="10px" viewBox="0 0 24 24"
                                style="fill: transparent;">
                                <path d="M 4 8 L 12 14 L 20 8" stroke="black" stroke-width="2px"
                                    transform="rotate(270 12 12)"></path>
                            </svg>
                            <div>
                                Fantasy Premier League
                            </div>
                        </div>
                        <div>
                            Football
                        </div>
                    </div>
                </li>
                <li>CARD GAMES
                    <svg x="0" y="0" width="12px" height="12px" viewBox="0 0 24 24" style="fill: transparent;">
                        <path d="M 6 8 L 14 16 L 22 8" stroke="black" stroke-width="3px"></path>
                    </svg>
                    <div>
                        <div>
                            Poker
                        </div>
                        <div>
                            Rummy
                        </div>
                    </div>
                </li>
                <li>ABOUT US</li>
                <li>ALL POSTS</li>
            </ul>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50"
                style=" fill:#000000;">
                <path
                    d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z">
                </path>
            </svg>
            <div id="search_box">
                <div>
                    <input type="text" id="search_input">
                    <button>Search
                        <svg x="0" y="0" width="10px" height="10px" viewBox="0 0 24 24"
                            style="fill: transparent;">
                            <path d="M 4 8 L 12 14 L 20 8" stroke="black" stroke-width="2px"
                                transform="rotate(270 12 12)"></path>
                        </svg>
                    </button>
                </div>
                <div id="search_result"></div>
            </div>
        </div>
    </div>
</nav>
<nav id="mobile_nav">
    <span id="mobile_hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 24 24"
            style=" fill:#ffffff;">
            <path
                d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z">
            </path>
        </svg>
    </span>
    <span id="mobile_brand">
        <img src="./images/white-logo.webp" width="180px">
    </span>
    <span id="mobile_search">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50"
            style=" fill:#ffffff;">
            <path
                d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z">
            </path>
        </svg>
    </span>
    <div id="mobile_nav_options">
        <div>
            <div id="mobile_options_top">
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                            viewBox="0 0 24 24" style="fill:#ffffff;">
                            <path
                                d="M17.525,9H14V7c0-1.032,0.084-1.682,1.563-1.682h1.868v-3.18C16.522,2.044,15.608,1.998,14.693,2 C11.98,2,10,3.657,10,6.699V9H7v4l3-0.001V22h4v-9.003l3.066-0.001L17.525,9z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                            viewBox="0 0 24 24" style=" fill:#ffffff;">
                            <path
                                d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                            viewBox="0 0 30 30" style=" fill:#ffffff;">
                            <path
                                d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18px" height="18px"
                            viewBox="0 0 50 50" style=" fill:#ffffff;">
                            <path
                                d="M 41 5 C 34.210938 4.992188 30.46875 8.796875 28.167969 16.210938 C 29.371094 15.765625 30.578125 15.214844 31.671875 15.214844 C 33.972656 15.214844 34.738281 16.070313 34.410156 18.726563 C 34.300781 20.386719 33.644531 23.066406 31.671875 26.164063 C 29.699219 29.152344 27.984375 30 27 30 C 25.796875 30 24.882813 28.269531 23.898438 23.621094 C 23.570313 22.292969 22.804688 19.304688 21.925781 13.664063 C 21.160156 8.464844 18.613281 5.667969 15 6 C 13.46875 6.109375 11.636719 7.535156 8.570313 10.191406 C 6.378906 12.183594 4.300781 13.621094 2 15.613281 L 4.191406 18.421875 C 6.269531 16.984375 7.476563 16.429688 7.804688 16.429688 C 9.335938 16.429688 10.757813 18.863281 12.183594 23.84375 C 13.386719 28.378906 14.699219 32.914063 15.90625 37.449219 C 17.765625 42.429688 20.066406 44.863281 22.695313 44.863281 C 27.074219 44.863281 32.328125 40.882813 38.570313 32.695313 C 44.699219 24.949219 47.78125 18.535156 48 14 C 48.21875 8.027344 45.816406 5.109375 41 5 Z">
                            </path>
                        </svg>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18"
                            viewBox="0 0 48 48" style=" fill:#ffffff;">
                            <path
                                d="M 23.857422 8.5 C 17.504717 8.5 11.602344 8.9526234 8.234375 9.65625 A 1.50015 1.50015 0 0 0 8.2128906 9.6621094 C 5.6754768 10.230693 3.2861897 12.048234 2.7832031 14.894531 A 1.50015 1.50015 0 0 0 2.78125 14.90625 C 2.394836 17.200265 2 20.190694 2 24.5 C 2 28.801151 2.3961903 31.712324 2.8847656 34.126953 C 3.4000756 36.889296 5.7342165 38.761817 8.3105469 39.337891 A 1.50015 1.50015 0 0 0 8.3476562 39.347656 C 11.86271 40.040284 17.598467 40.5 23.951172 40.5 C 30.303877 40.5 36.042686 40.04028 39.558594 39.347656 A 1.50015 1.50015 0 0 0 39.595703 39.337891 C 42.133117 38.769306 44.522404 36.951766 45.025391 34.105469 A 1.50015 1.50015 0 0 0 45.029297 34.083984 C 45.409789 31.743169 45.902812 28.755621 46 24.439453 A 1.50015 1.50015 0 0 0 46 24.40625 C 46 20.087697 45.50571 17.078675 45.023438 14.695312 C 44.512192 11.927074 42.175378 10.049478 39.595703 9.4726562 A 1.50015 1.50015 0 0 0 39.476562 9.4511719 C 36.0464 8.9689502 30.211115 8.5 23.857422 8.5 z M 20.15625 17.001953 C 20.526656 16.994297 20.909531 17.081906 21.269531 17.285156 L 29.873047 22.146484 C 31.324047 22.966484 31.324047 25.035469 29.873047 25.855469 L 21.269531 30.716797 C 19.830531 31.528797 18.037109 30.500328 18.037109 28.861328 L 18.037109 19.138672 C 18.037109 17.909422 19.045031 17.024922 20.15625 17.001953 z">
                            </path>
                        </svg>
                    </li>
                </ul>
                <span id="close_nav_options">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28"
                        viewBox="0 0 24 24" style=" fill:#ffffff;">
                        <path
                            d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z">
                        </path>
                    </svg>
                </span>
            </div>
            <div id="mobile_options_content">
                <ul>
                    <li>Today's Match Prediction</li>
                    <li>
                        <div>
                            News
                            <img src="./images/right-arrow.png" width="24px">
                        </div>
                        <div>
                            <div>
                                MPL Announcement
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            Games
                            <img src="./images/right-arrow.png" width="24px">
                        </div>
                        <div>
                            <div>
                                Supernova
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            Fantasy
                            <img src="./images/right-arrow.png" width="24px">
                        </div>
                        <div>
                            <div>
                                Cricket
                            </div>
                            <div>
                                Football
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            Card Games
                            <img src="./images/right-arrow.png" width="24px">
                        </div>
                        <div>
                            <div>
                                Poker
                            </div>
                            <div>
                                Rummy
                            </div>
                        </div>
                    </li>
                    <li>About Us</li>
                    <li>ALL POSTS</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="mobile_search_modal">
        <span id="mobile_search_close">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 24 24"
                style=" fill:#ffffff;">
                <path
                    d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z">
                </path>
            </svg>
        </span>

        <div>Search</div>
        <input type="text">


        <div id="search_modal_result"></div>
    </div>
</nav>

