<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Premier League (MPL) | Download Games, Play & Win Money</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"></link>
    <link href="//db.onlinewebfonts.com/c/64066084d97b188b68757ef02ab5faa5?family=Trim+Web+Regular" rel="stylesheet" type="text/css" />
    <link href="//db.onlinewebfonts.com/c/675a557703d8579401fcf6a3f9937663?family=Trim+Web+Medium" rel="stylesheet" type="text/css" />
    <link href="//db.onlinewebfonts.com/c/93942a49cb4892f168e67b0ad3159985?family=TrimWebThin" rel="stylesheet" type="text/css" />
    <link rel="icon" href="https://www.mpl.live/static/MPL_Logo_2.png" type="png">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="/">
                    <img id="logo1" src="https://www.mpl.live/static/hamburger/mpl-logo.png" alt="">
                </a>
            </div>
            <div class="sub-nav">
                <div class="dropdown nav-btn">
                    <div class="game">MPL Game</div>
                    <div class="img img-add"></div>
                </div>
                <div class="mpl-es nav-btn">
                    <a class="emrgcy" href="/esport">MPL Esports</a>
                </div>
                <div class="nav-about nav-btn">
                    <a class="emrgcy" href="/about">About</a>
                </div>
                <div class="nav-blog nav-btn">
                    <a class="emrgcy" href="/blog">Blog</a>
                </div>
                <div class="nav-faq nav-btn">
                    <a class="emrgcy" href="/faq">FAQs</a>
                </div>
                <div class="nav-help nav-btn">
                    <a href="/help">
                        <img src="https://www.mpl.live/static/hamburger/help_icon.png" alt="">
                        <span id="hlp">Help</span>
                    </a>
                </div>
            </div>
            <div id="hambr" class="hambr-add-icon">
                <!-- <img id="hambr-img" src="/icons/menu.png" alt=""> -->
            </div>
            <div class="mobile-con mobile-con-hidden">
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/fantasy_helmet.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Fantasy</p>
                            </div>
                        </div>
                        <div id="mobile-btn" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop1" class="minus-container mov-hidden">
                        <a href="/dropdown/fantasy_cricket">
                            <img class="minus-con-img" src="/icons/mobile_11.png" alt="">
                            <p class="minus-con-text">Fantasy Cricket</p>
                        </a>
                        <a href="/dropdown/football">
                            <img class="minus-con-img" src="/icons/fantasy-cricket12.png" alt="">
                            <p class="minus-con-text">Fantasy football</p>
                        </a>
                        <a href="/dropdown/basketball">
                            <img class="minus-con-img" src="/icons/fantasy-basketball13.png" alt="">
                            <p class="minus-con-text">Fantasy Backetball</p>
                        </a>
                        <a href="#">
                            <img class="minus-con-img" src="/icons/fantasy_icon14.png" alt="">
                            <p class="minus-con-text">Fantasy Games</p>
                        </a>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/card-skill.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Card Skill</p>
                            </div>
                        </div>
                        <div id="mobile-btn2" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop2" class="minus-container mov-hidden">
                        <a href="/dropdown/rummy">
                            <img class="minus-con-img" src="/icons/game_icon_21.png" alt="">
                            <p class="minus-con-text">Rummy</p>
                        </a>
                        <a href="/dropdown/Poker">
                            <img class="minus-con-img" src="/icons/game_icon_22.png" alt="">
                            <p class="minus-con-text">Poker</p>
                        </a>
                        <a href="/dropdown/call break">
                            <img class="minus-con-img" src="/icons/game_icon_23.png" alt="">
                            <p class="minus-con-text">Call Break</p>
                        </a>

                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/sport_games.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Sports Games</p>
                            </div>
                        </div>
                        <div id="mobile-btn3" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop3" class="minus-container mov-hidden">
                        <a href="/dropdown/wcc2">
                            <img class="minus-con-img" src="/icons/game_icon_31.png" alt="">
                            <p class="minus-con-text">Wcc2</p>
                        </a>
                        <a href="/dropdown/baseballstars-game">
                            <img class="minus-con-img" src="/icons/baseball_games_32.png" alt="">
                            <p class="minus-con-text">Baseball Star Game</p>
                        </a>

                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/arcade_games.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Arcade Games</p>
                            </div>
                        </div>
                        <div id="mobile-btn4" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop4" class="minus-container mov-hidden">
                        <a href="/dropdown/FRUIT DART-game">
                            <img class="minus-con-img" src="/icons/game_icon_41.png" alt="">
                            <p class="minus-con-text">Fruit Dart</p>
                        </a>
                        <a href="/dropdown/FRUIT CHOP">
                            <img class="minus-con-img" src="/icons/game_icon_42.png" alt="">
                            <p class="minus-con-text">Fruit Chop</p>
                        </a>

                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/casual_games.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Casual Games</p>
                            </div>
                        </div>
                        <div id="mobile-btn5" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop5" class="minus-container mov-hidden">
                        <a href="/dropdown/Carrom">
                            <img class="minus-con-img" src="/icons/game_icon_51.png" alt="">
                            <p class="minus-con-text">Carrom</p>
                        </a>
                        <a href="/dropdown/pool-game">
                            <img class="minus-con-img" src="/icons/game_icon_52.png" alt="">
                            <p class="minus-con-text">Pool</p>
                        </a>
                        <a href="/dropdown/Ludo">
                            <img class="minus-con-img" src="/icons/game_icon_53.png" alt="">
                            <p class="minus-con-text">Ludo</p>
                        </a>
                        <a href="/dropdown/RUNNER NO.1">
                            <img class="minus-con-img" src="/icons/game_icon_54.png" alt="">
                            <p class="minus-con-text">Runner No. 1</p>
                        </a>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/puzzle_games.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Puzzle Games</p>
                            </div>
                        </div>
                        <div id="mobile-btn6" class="mobile-right mobile-add-img plus">

                        </div>
                    </div>
                    <div id="drop6" class="minus-container mov-hidden">
                        <a href="/dropdown/bubble-shooter">
                            <img class="minus-con-img" src="/icons/game_icon_61.png" alt="">
                            <p class="minus-con-text">Bubble</p>
                        </a>
                        <a href="/dropdown/build-up-game">
                            <img class="minus-con-img" src="/icons/game_icon_62.png" alt="">
                            <p class="minus-con-text">Build Up</p>
                        </a>

                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/fantasy_games_icon.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">MPL Esports</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/fantasy_games_icon.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">MPL Esports</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/about-us.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">About Us</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/blog.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Blog</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/contact-us.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">FAQ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-area">
                    <div class="mobile-nav-card">
                        <div class="mobile-left">
                            <div class="sports-logo">
                                <img src="/icons/help.png" alt="">
                            </div>
                            <div class="sports-text">
                                <p class="mobile-nav-text">Help</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="drop-con hidden">
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/fantasy_games_icon.png" alt="">
                    <h4 class="nav-h4">Fantasy Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/fantasy_cricket">
                        <p>Fantasy Cricket</p>
                    </a>
                    <a href="/dropdown/football">
                        <p>Fantasy football</p>
                    </a>
                    <a href="/dropdown/basketball">
                        <p>Fantasy basketball</p>
                    </a>
                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/sports_games_icon.png" alt="">
                    <h4 class="nav-h4">Sports Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/wcc2">
                        <p>Wcc2</p>
                    </a>
                    <a href="/dropdown/baseballstars-game">
                        <p>Baseball Star Game</p>
                    </a>

                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/arcade_games_desktop.png" alt="">
                    <h4 class="nav-h4">Arcade Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/FRUIT CHOP">
                        <p>Fruit Chop</p>
                    </a>
                    <a href="/dropdown/FRUIT DART-game">
                        <p>Fruit Dart</p>
                    </a>
                    <a href="/dropdown/FRUIT SLICE">
                        <p>Fruit Slice</p>
                    </a>
                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/puzzle_games_desktop.png" alt="">
                    <h4 class="nav-h4">Puzzle Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/bubble-shooter">
                        <p>Bubble Shooter</p>
                    </a>
                    <a href="/dropdown/build-up-game">
                        <p>Build up</p>
                    </a>
                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/card_games_desktop.png" alt="">
                    <h4 class="nav-h4">Card Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/rummy">
                        <p>Rummy</p>
                    </a>
                    <a href="/dropdown/Poker">
                        <p>Poker</p>
                    </a>
                    <a href="/dropdown/call break">
                        <p>Call Break</p>
                    </a>
                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/casual_games_desktop.png" alt="">
                    <h4 class="nav-h4">Casual Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/Carrom">
                        <p>Carrom</p>
                    </a>
                    <a href="/dropdown/pool-game">
                        <p>Pool</p>
                    </a>
                    <a href="/dropdown/Ludo">
                        <p>Ludo</p>
                    </a>
                    <a href="/dropdown/RUNNER NO.1">
                        <p>Runner No. 1</p>
                    </a>
                    <a href="/dropdown/MONSTER TRUCK-game">
                        <p>Monster Truck</p>
                    </a>
                    <a href="#">
                        <p>Go Ride</p>
                    </a>
                </div>
            </div>
            <div class="drop-box">
                <div class="nav-sec1">
                    <img src="/icons/brain_games_desktop.png" alt="">
                    <h4 class="nav-h4">Brain Game</h4>
                </div>
                <div class="sec1-a">
                    <a href="/dropdown/sudoku">
                        <p>Sudoku</p>
                    </a>
                    <a href="/dropdown/chess">
                        <p>Speed Chess</p>
                    </a>

                </div>
            </div>
        </div>
    </nav>
    <div class="body-sec">
        <div id="banner">
            <div class="banner-text">
                <img id="mpl-logo" src="https://www.mpl.live/static/hamburger/mpl-logo.png" alt="">
                <h1><span id="html-text">PLAY 60+ GAMES ONLINE ON MPL</span></h1>
                <div>
                    <span class="html-text2">Download MPL pro app & start winning real money</span>
                </div>
            </div>
            <div id="banner-inp">
                <input type="number" name="num" id="num" placeholder="Enter mobile number" />
                <button>Get SMS with Download link</button>

            </div>
            <div id="hide-btn">
                <button>DOWNLOAD NOW</button>
            </div>
        </div>
        <div id="banner2">
            <div class="text1">
                <p class="font1">₹40 CRORE</p>
                <p class="font2">Daily winnings</p>
            </div>
            <div class="text2">
                <p class="font1 p1">6 CRORE+</p>
                <p class="font2 p1">Trusted users</p>
            </div>
        </div>
        <div class="payment-sec">
            <h1>Withdraw Winning With</h1>
            <div id="payment-method">
                <div class="payment-con1">
                    <a>
                        <img src="./icons/paytm.png" alt="">
                        <p>Paytm Wallet</p>
                    </a>
                </div>
                <div class="payment-con1">
                    <a>
                        <img src="./icons/upi.png" alt="">
                        <p>UPI</p>
                    </a>
                </div>
                <div class="payment-con1">
                    <a>
                        <img src="./icons/amazon_pay.png" alt="">
                        <p>Amazon Pay</p>
                    </a>
                </div>
                <div class="payment-con1">
                    <a>
                        <img src="./icons/bank_transfer.png" alt="">
                        <p>Bank Transfer</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="section3">
            <div id="sec3-con">
                <div id="logo-bcci">
                    <img src="./icons/mpl-widget-logo.png" alt="">
                </div>
                <div id="sec3-text">
                    <p>New Official</p>
                    <p>New India Kit</p>
                </div>
                <div id="sec3-btn">
                    <a href="#">SHOP NOW</a>
                </div>
            </div>
        </div>
        <!-- Body Section part-3 Start-->

        <div id="topgames">
            <div id="topcontent">
                <div id="top-header">
                    <h2>Top Games On MPL</h2>
                </div>
                <div id="top-subhead">
                    <p>Play over 60+ Games and Win Cash!</p>
                </div>
                <div class="games">
                    <div onclick="window.location.href='dropdown/FRUIT DART-game'">
                        <img src="https://www.mpl.live/static/top-games/fruit_dart.png" alt="">
                        <p>Fruit Dart</p>
                    </div>
                    <div onclick="window.location.href='dropdown/wcc2'">
                        <img src="https://www.mpl.live/static/top-games/wcc.png" alt="">
                        <p>WCC</p>
                    </div>
                    <div>
                        <img src="https://www.mpl.live/static/top-games/pool.png" alt="">
                        <p>Pool</p>
                    </div>
                    <div>
                        <img src="https://www.mpl.live/static/top-games/speed_chess.png" alt="">
                        <p>Speed Chess</p>
                    </div>
                </div>
                <div class="games">
                    <div onclick="window.location.href='dropdown/FRUIT DART-game'">
                        <img src="https://www.mpl.live/static/top-games/fantasy_cricket.png" alt="">
                        <p>fantasy Cricket</p>
                    </div>
                    <div>
                        <img src="https://www.mpl.live/static/top-games/fruit_chop.png" alt="">
                        <p>fruit Chop</p>
                    </div>
                    <div>
                        <img src="https://www.mpl.live/static/top-games/runner_no1.png" alt="">
                        <p>runner No. 1</p>
                    </div>
                    <div>
                        <img src="https://www.mpl.live/static/hamburger/sudoku-icon.png" alt="">
                        <p>Sudoku</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trusted By 6 Crore+ Indians -->
        <div id="trusted">
            <div id="trusted-content">
                <div id="trusted-header">
                    <h2>Trusted By 6 Crore+ Indians</h2>
                </div>
                <div id="reviewbox">
                    <div class="reviewcontent">
                        <img src="https://www.mpl.live/static/banners/user_epicenter-satish.png" alt="">
                        <div class="name">Satish Kumar</div>
                        <div class="city">Faridabad, Haryana</div>
                        <div class="price">Won ₹11 Lakh!</div>
                        <p>MPL is like a lucky bank balance for me. It gave a once in a lifetime opportunity to meet Virat Kohli. The platform lets me earn money using my expertise and rich knowledge in Cricket and other sports.</p>
                    </div>
                    <div class="reviewcontent" id="middle">
                        <img src="https://www.mpl.live/static/banners/user_epicenter.png" alt="">
                        <div class="name">KULDEEP TOMAR</div>
                        <div class="city">Baghpat, UP</div>
                        <div class="price">Won ₹63 Lakh!</div>
                        <p>My friend told me about MPL. It has lots of games. I started playing Fruit Chop and rummy. Within a year I won Four lakh while having fun playing games. MPL helped me, solve my financial problems. I paid for my kid's school fees.
                            Recently I also bought an iPhone to play on MPL.</p>
                    </div>
                    <div class="reviewcontent">
                        <img src="https://www.mpl.live/static/banners/user_epicenter-akash.png" alt="">
                        <div class="name">AKASH SAITAB</div>
                        <div class="city">Darbangha, Bihar</div>
                        <div class="price">Won ₹35 Lakh!</div>
                        <p>MPL has a great collection of fun games that gives you a chance to earn money as well. I've won around ₹8 Lakh playing Fruit Dart, Runner and various other games.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Proud Sponsor Of -->
        <div id="Sponsor">
            <div id="blank"></div>
            <div id="sponsor-head">
                <h2>Proud Sponsor Of</h2>
            </div>
            <div id="sponsor-logo">
                <img src="https://www.mpl.live/static/sponsors/rcb_logo.png" alt="">
                <img src="https://www.mpl.live/static/sponsors/kkr_logo.png" alt="">
            </div>
        </div>

        <!-- Best-In-Class Gaming Experience -->
        <div id="experience">
            <div id="exp-head">
                <h2>Best-In-Class Gaming Experience</h2>
            </div>
            <div id="exp-body">
                <div id="exp-subody">
                    <div class="e-subbody-con">
                        <a class="exp-atag" href="#">
                            <img src="https://www.mpl.live/static/trust-icons/user_icon.png" alt="">
                            <p class="exp-title">6 Crore+</p>
                            <p class="exp-details">Users</p>
                        </a>
                    </div>
                    <div class="e-subbody-con">
                        <img src="https://www.mpl.live/static/trust-icons/secure_icon.png" alt="">
                        <p class="exp-title">100% Secure</p>
                        <p class="exp-details">& Legal</p>
                    </div>
                    <div class="e-subbody-con">
                        <img src="https://www.mpl.live/static/trust-icons/support_icon.png" alt="">
                        <p class="exp-title">24 x 7</p>
                        <p class="exp-details">Customer Support</p>
                    </div>
                    <div class="e-subbody-con">
                        <img src="https://www.mpl.live/static/trust-icons/cashback_icon.png" alt="">
                        <p class="exp-title">Cashback</p>
                        <p class="exp-details">Offers</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- MPL Is a Member of -->
        <div id="member">
            <div id="mem-container">
                <div id="mem-head">
                    <h2>MPL Is A Member Of</h2>
                </div>
                <div id="mem-body">
                    <div class="mem-logo">
                        <img src="https://www.mpl.live/static/trust-icons/aigf.png" alt="">
                    </div>
                    <div class="mem-logo">
                        <img src="https://www.mpl.live/static/trust-icons/ficci.png" alt="">
                    </div>
                    <div class="mem-logo">
                        <img src="https://www.mpl.live/cledge.mpl.live/pb/website/static/53722d97ef034e6fbf46ee1360d30442.png" alt="">
                    </div>
                    <div class="mem-logo">
                        <img src="https://www.mpl.live/static/trust-icons/IAMAI.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Play 60+ Games & Win Cash -->
        <div id="play-games">
            <div id="play-games-head">
                <h2>Play 60+ Games & Win Cash</h2>
            </div>
            <div id="play-games-subhead">
                <p>Top games on Mpl</p>
            </div>
            <div id="play-games-container">
                <div id="game-container">
                    <div id="game-div">
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/fruit_dart.png" alt="">
                            <div class="text-box">
                                <h4>Fruit Dart</h4>
                                <p>Everyone loves a quick game of fruit dart, isn’t it? Fruit Dart is one of the most
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/ludo.png" alt="">
                            <div class="text-box">
                                <h4>Ludo</h4>
                                <p>Ludo is among the most popular board games that people love to play in their
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/call_break.png" alt="">
                            <div class="text-box">
                                <h4>Call Break</h4>
                                <p><span class="link">Call Break </span> is one of the most popular card
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/fantasy_cricket.png" alt="">
                            <div class="text-box">
                                <h4>MPL Fantasy Cricket</h4>
                                <p>MPL Fantasy Cricket app provides you a platform to showcase your cricket
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/speed_chess.png" alt="">
                            <div class="text-box">
                                <h4>speed Chess</h4>
                                <p>It is commonly believed that Chess originated in India around the 6th century AD,
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/pool.png" alt="">
                            <div class="text-box">
                                <h4>8 Ball Pool</h4>
                                <p>MPL’s
                                    <spam class="link"> 8 Ball Pool Game</spam>
                                    is the most engaging online poo
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/mpl_rummy.png" alt="">
                            <div class="text-box">
                                <h4>MPL Rummy</h4>
                                <p>
                                    <spam class="link">Online Rummy</spam>
                                    by MPL is one of the most popular card g
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/bubble_shooter.png" alt="">
                            <div class="text-box">
                                <h4>Bubble Shooter</h4>
                                <p>Sit back, relax and play the classic
                                    <span class="link">Bubble Shoo....More</span>
                                </p>
                            </div>
                        </div>
                        <div class="game-box">
                            <img src="https://www.mpl.live/static/top-games/fantasy_icon.png" alt="">
                            <div class="text-box">
                                <h4>Fantasy Games</h4>
                                <p>Fantasy games are a massive hit in India, and MPL provides the ultimate
                                    <span class="link">....More</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Know Us Better -->
        <div id="social">
            <div id="social-head">
                <h4>Know Us Better</h4>
            </div>
            <div id="social-container">
                <div id="social-links">
                    <div class="link-logo">
                        <a href="https://www.facebook.com/plaympl/" target="blank">
                            <img src="https://www.mpl.live/static/social_icons/fb.png" alt="">
                        </a>
                    </div>
                    <div class="link-logo">
                        <a href="https://www.instagram.com/plaympl/" target="blank">
                            <img src="https://www.mpl.live/static/social_icons/ig.png" alt="">
                        </a>
                    </div>
                    <div class="link-logo">
                        <a href="https://twitter.com/PlayMPL" target="blank">
                            <img src="https://www.mpl.live/static/social_icons/tw.png" alt="">
                        </a>
                    </div>
                    <div class="link-logo">
                        <a href="https://www.youtube.com/channel/UCIBT5MyVgwAvcZZa1e8O-sw" target="blank">
                            <img src="https://www.mpl.live/static/social_icons/yt.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- MPL logo -->
        <div id="mpl-logo">
            <img src="https://www.mpl.live/static/mpl_icon.png" alt="">
        </div>

        <!-- About Mpl -->
        <div id="about-mpl">
            <div id="about-mpl-head">
                <h2>About The MPL Gaming App</h2>
            </div>
            <div id="about-text-container">
                <div id="about-textbox">
                    <p>Mobile Premier League (MPL) is India’s largest eSports and mobile gaming platform that offers 60+ games for free download in categories such as fantasy sports, card games, arcade games, puzzle games, action games, and more. It is the
                        most trusted gaming platform with over 6 crore users playing real money games such as Rummy, Chess, Poker, Fantasy Cricket, Fruit Chop, 8 ball Pool, Carrom, and more on a single platform!</p>
                    <p>You can download games for free and play with real players to win cash prizes. Sounds fun, right? MPL offers the ultimate gaming experience and promises unlimited entertainment which makes playing games all the more fun. Love playing
                        fantasy sports or card games? MPL offers a wide spectrum of games for every kind of game lover. Be it football, cricket, basketball, archery, baseball, easy card games, or brain-stimulating puzzles and quizzes, MPL has something
                        for everyone. Take your pick from adventure, action, sports & many other categories and play games for real money.</p>
                    <p>The app features cash contests and tournaments for multiple games where users can participate and earn money from games daily. Pick your favorite game and use your skills to defeat your opponents to win the games. The platform also
                        offers free games download for users to train with practice games against real-life opponents. Try a handful of free practice games before you accept the challenge to play the cash games.</p>
                    <p>Earn a high score and make it to the top of the Leaderboards with the most exciting money-earning games on MPL. Connect with your friends or challenge random opponents, showcase your gaming skills, and see who the real winner is. You
                        also get a referral bonus for every referral you make. Mpl is a 100% secure and legal real money games app trusted by users for the next-level gaming experience.</p>
                    <p>Android users can download the MPL PRO (apk) app here, while iOS users can download the app directly from the Apple App Store to play games online for free.</p>
                </div>
            </div>
        </div>
        <!-- Body Section part-3 End-->

    </div>
    <footer class="footer">
        <div id="maindiv">
            <div id="subdiv">
                <div class="borderline-top"></div>
                <div id="footer-list">
                    <div id="list-one">
                        <div id="list-one-top" class="list-details">
                            <h4>Fantasy game</h4>
                            <a href="/dropdown/fantasy_cricket">Fantasy cricket</a>
                            <a href="/dropdown/football">Fantasy football</a>
                            <a href="/dropdown/basketball">Fantasy basketball</a>
                        </div>
                        <div id="list-one-bottom" class="list-details">
                            <h4>Card Games</h4>
                            <a href="/dropdown/rummy">Rummy</a>
                            <a href="/dropdown/Poker">Poker</a>
                            <a href="/dropdown/call break">Call Break</a>
                        </div>
                    </div>
                    <div id="list-two">
                        <div id="list-two-top" class="list-details">
                            <h4>Arcade Games</h4>
                            <a href="/dropdown/FRUIT CHOP">Fruit Chop</a>
                            <a href="/dropdown/FRUIT DART-game">Fruit Dart</a>
                            <a href="/dropdown/FRUIT SLICE">Fruit Slice</a>
                        </div>
                        <div id="list-two-bottom" class="list-details">
                            <h4>Brain Games</h4>
                            <a href="/dropdown/sudoku">Sudoku</a>
                            <a href="/dropdown/chess">Speed Chess</a>
                        </div>
                    </div>
                    <div id="list-three">
                        <div id="list-three-top" class="list-details">
                            <h4>Sports Games</h4>
                            <a href="/dropdown/wcc2">Wcc2</a>
                            <a href="/dropdown/baseballstars-game">Baseball Star Game</a>
                        </div>
                        <div id="list-three-bottom" class="list-details">
                            <h4>Puzzle Games</h4>
                            <a href="/dropdown/bubble-shooter">Bubble Shooter</a>
                            <a href="/dropdown/build-up-game">Build Up</a>
                        </div>
                    </div>
                    <div id="list-four">
                        <div id="list-four-top" class="list-details">
                            <h4>Casual Games</h4>
                            <a href="/dropdown/Carrom">Carrom</a>
                            <a href="/dropdown/pool-game">Pool</a>
                            <a href="/dropdown/Ludo">Ludo</a>
                            <a href="/dropdown/RUNNER NO.1">Runner No.1</a>
                            <a href="/dropdown/MONSTER TRUCK-game">Monster Truck</a>
                            <a href="#">Go Ride</a>
                        </div>
                    </div>
                    <div id="list-five">
                        <div id="list-five-top" class="last-list-details">
                            <a href="/faq">FAQ</a>
                            <a href="">More Games</a>
                            <a href="">College Premiere League</a>
                            <a href="/blog">Blog</a>
                            <a href="">Refer and Earn</a>
                            <a href="">Games of skill</a>
                        </div>
                        <div id="last-social-links">
                            <div id="social-link-icons">
                                <a href="https://www.facebook.com/PlayMPL/">
                                    <img src="https://www.mpl.live/static/footer/facebook_icon.png" alt="">
                                </a>
                                <a href="https://www.instagram.com/plaympl/">
                                    <img src="https://www.mpl.live/static/footer/instagram_icon.png" alt="">
                                </a>
                                <a href="https://twitter.com/PlayMPL">
                                    <img src="https://www.mpl.live/static/footer/twitter_icon.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="borderline-bottom"></div>
                <div id="copy-right-tag">
                    <div id="tag-left-side">Copyright © - Galactus Funware Technology Private Limited | All rights reserved</div>
                    <div id="tag-right-side">
                        <a href="#"> Privacy Policy <span id="vertical-line"> | </span></a>
                        <a href=""> MPL Fairplay <span id="vertical-line"> | </span></a>
                        <a href=""> Terms & Condition </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="disclamer-div">
            <div id="disclamer-cotent">
                <div id="content-head">
                    <h4>DISCLAIMER</h4>
                </div>
                <div id="content-body">
                    <p>Galactus Funware is the owner of, and reserves all rights to the assets, content, services, information, and products and graphics in the website except any third party content.</p>
                    <p>Galactus Funware refuses to acknowledge or represent about the accuracy or completeness or reliability or adequacy of the website's third party content. These content, materials, information, services, and products in this website,
                        including text, graphics, and links, are provided "AS IS" and without warranties of any kind, whether expressed or implied.</p>
                    <p>*MPL is the biggest gaming app in India based on the number of unity games, special tournaments and formats. MPL is available only to people above 18 years of age. MPL is available in all states where permissible by extant law. Consequently,
                        users located in some states may not be able to access our App or its contests. For an updated list of such states, please download the App</p>
                </div>
            </div>
        </div>
    </footer>
    <%- include('partials/educationalOnly') %>

</body>
<script src="/scripts/script.js"></script>

</html>